*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/background.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caixa {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  margin: 30% 15svw 0;
  color: rgb(255, 255, 255);
  font-family: "Noto Serif Ahom", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  padding: 5svh 10svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.caixa h2{
  font-size: medium;
}

.caixa .horario {
  margin-bottom: 3svh;
}

.caixa p {
  font-size: small;
}

.botoes{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.botoes a {
  margin: 0 2svw;
  padding: 1svh 5svw;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  border-radius: 12px;
}

.botaoSim{
  background-color: rgb(121, 121, 121);
}

.botaoNao{
  background-color: rgb(121, 121, 121);
}
