*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/background.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caixa {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  margin-top: 50svh;
  padding: 5svh 10svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
